body {
    font-family: 'Montserrat', sans-serif;
    background-image: url('14257.jpg');
    background-size: cover;
    color: white;
}

.navbar-brand {
    margin-right: 600px;
    margin-left: 40px;
    font-size: 26px;
    color: white;
}
.nav a {
    color: white;
}

h1{
    text-align: center;
    margin-top: 100px;
    font-size: 28px;
}

p {
    text-align: center;
    font-size: 24px;
}

.form-group {
    text-align: center;
}

.form-group label {
    color: black;
}

.card h1 {
    color: black;
}