{{#partial "content"}}
    <div class="container">
        <h1>Wildlife Tracker</h1>
        <p>This is a web app to record and organize the wildlife seen and rangers infromation</p>
        <p>Click on Sightings to record animal</p>
    </div>
{{/partial}}
{{> layout.hbs}}